<div fxFill style="min-height: 400px; width: 400px">
  <!-- Toolbar -->
  <mat-toolbar class="toolbar">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>llama</span>
    <div class="spacer"></div>
    <button mat-icon-button (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Content -->
  <div class="content" role="main" style="height: auto; width: 400px;" fxLayout="row" *ngIf="analysis && !analysisLoading">

    <div fxLayout="column" style="height: 100%; width: 100%;">
      <h2 fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">Main Policy Points</h2>

      <div class="card-container" style="width: 100%;">
        <div style="width: 100%; padding-top: 8px;" *ngFor="let action of analysis.actions">
          <mat-card fxLayout="row" style="width: 100%;">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="25">
              <h5>{{action.type}}</h5>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="65">
              <span style="font-size: 12px; color: grey;">{{action.quote}}</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
              <mat-icon style="color: green;" *ngIf="action.confidence > 40 && action.classification === '1'">check</mat-icon>
              <mat-icon style="color: orange;" *ngIf="action.confidence < 40">warning</mat-icon>
              <mat-icon style="color: red;" *ngIf="action.confidence > 40 && action.classification === '0'">cancel</mat-icon>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
  <!-- / Content -->

  <!-- Footer -->
  <footer fxLayout="row" fxLayoutAlign="center center" id="footer" *ngIf="analysis && !analysisLoading">
    <div fxLayout="column" fxLayoutAlign="center center" style="padding: 10px;">
      <span>Questions still?</span>
      <div style="height: 2px; background-color: whitesmoke; width: 90%; margin: 8px;"></div>
      <span fxLayout="row" fxLayoutAlign="center center">
          Email: <a style="padding: 4px;" href="mailto: {{email}}">{{email}}</a> or view full policy <a style="padding: 4px;" (click)="openPolicy()">here</a>.
        </span>
    </div>
  </footer>
  <!-- / Footer -->

  <div *ngIf="analysisLoading" style="width: 400px; height: 500px;" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner color="primary"></mat-spinner>
  </div>

</div>


